<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio-evento"> </ion-back-button>
    </ion-buttons>
    <ion-title>lista de eventos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
  <ion-lis-header> <ion-label> Tus proximos eventos</ion-label></ion-lis-header>
    <ion-item tappable *ngFor="let evento of listaEventos | async " routerLink="/detalle-evento/{{evento.id}}" >   
        <ion-label>
            <h3> {{evento.nombre}} </h3>
            <p>Tiquete: <strong> {{evento.precio | currency}}</strong> </p>
            <p>Fecha: <strong> {{evento.fecha | date}}</strong> </p>
      </ion-label>
    </ion-item>
  </ion-list>



</ion-content>
