<ion-header>
  <ion-toolbar>
    <ion-title>registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formularioRegistrar"  (ngSubmit)="registrarUsuario($event)"  >
    <h3> Registrar Usuario</h3>
     <ion-list>
      <ion-item>
       <ion-input formControlName="email" type="email" autocapitalize="off" aria-autocomplete="off" autocorrect="off" aria-placeholder="Email"></ion-input>
     </ion-item>
     <ion-chip color="danger" *ngIf="campoEmail.errors && campoEmail.dirty">
     <ion-label  *ngIf="campoEmail.hasError('email')" > el email invalido</ion-label>
     <ion-label  *ngIf="campoEmail.hasError('required')" > el email es requerido</ion-label>
     </ion-chip>
      <ion-item>
      <ion-input formControlName="password" type="password" aria-placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-chip color="danger" *ngIf="campoPassword.errors && campoPassword.dirty">
       <ion-label  *ngIf="campoPassword.hasError('minlength')" > Debe tener un minimo de 6 caracteres</ion-label>
       <ion-label  *ngIf="campoPassword.hasError('required')" > La Contraseña es requerido</ion-label>
       </ion-chip>
       </ion-list>
 
     <ion-button type="submit" color="light" expand="block" > Registrate</ion-button>
     <p> Ya esta registrado?? <a routerLink="/login/">  ingresa </a></p>
     </form>
</ion-content>
